<h1>Book Index</h1>
<% @books.each do |book| %>
  <section id = "book-<%= book.id %>">
    <p><%= book.title %></p>
      <% book.authors.each do |author| %>
        <%= link_to "#{author.name}", "/authors/#{author.id}" %>
      <% end %>
    <p><%= book.pages %></p>
    <p><%= book.publication_year %></p>
  </section>
<% end %>
